
.logo {
    color: $logo-tetx-color;
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    @include desktop {
        font-size: 26px;
    line-height: 1.19;
    }

    &__text {
        color: $accent-color;
    }

    &--footer {
        display: block;
        color: $white-color;
        margin-bottom: 20px;
    }
}

