

$primary-text-color: #757575;
$title-text-color: #212121;
$white-color: #FFFFFF;
$accent-color: #2196F3;
$logo-tetx-color: #000000;
$fill-icon-gray: #AFB1B8;
$info-bg: rgba(255, 255, 255, 0.1);
$info-color: rgba(255, 255, 255, 0.6);
$btn-focus-color: #188CE8;
$background-color-backdrop: rgba(0, 0, 0, 0.2);
$footer-bg: #2F303A;
$portfolio-color: rgba(33, 150, 243, 0.9);
$light-gray-bg: #F5F4FA;
$background-hero: #C4C4C4;
$overlay-gradient: rgba(47, 48, 58, 0.4);
$overlay-text: rgba(47, 48, 58, 0.8);
$border-gray: #ECECEC;
$border-color: #EEEEEE;

$base-font-family: Roboto, sans-serif;
$primary-font-family: Raleway, sans-serif;


