.footer {
    height: 603px;
    padding: 60px 15px;
    // text-align: left;

    background-color: $footer-bg;

    @include tablet {
        // height: 463px;
        text-align: center;

    }
    @include desktop {
        // height: 252px;
        
    }

    &__wrap {
        
        width: 100%;
        @include tablet {
            max-width: 232px;

        }
      
    }

    &__inner {
        display: block;

        @include desktop {
            margin-left: 70px;
        }

    }

    &__header {
        margin: 0;
    
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: $white-color;
    }

    &__email {
        display: block;

        @include tablet {
            display: block;

        }
        @include desktop {
            margin-left: 93px;
        }
        
    }
}

.info {
    &__location {
        display: block;
        color: $white-color;
        margin-bottom: 8px;
        
    
        font-style: normal;
        line-height: 1.7;
        text-decoration: none;
    
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: $accent-color;
        }

       
        @include desktop {
            margin-bottom: 9px;
        }
    }

    &__contacts {
        display: block;
        
        padding-bottom: 60px;

        @include tablet {
            padding-bottom: 0;
        }
    }

    &__item {
        margin-bottom: 8px;
        @include desktop {
            margin-bottom: 9px;
        }
    
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: $info-color;
        font-style: normal;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus  {
            color: $accent-color;
        }
    
    }
}


.email {
    margin: 0;
    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__input {
        
        width: 100%;
        max-width: 450px;
        padding-left: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background-color: $footer-bg;
        color: $info-color;
    
        font-family: $base-font-family;
        font-size: 16px;
        line-height: 1.25;

        @include mobile {
            width: 450px;

        }

        @include tablet {
            display: block;
            padding-left: 76px;
            padding-right: 89px;

        }

        @include desktop {
            display: flex;
            margin-right: 12px;
            width: 358px;
            
        }
    }
}
