.header {
    position: relative;
    display: flex;
    height: 60px;
    border-bottom: 1px solid $border-gray;
  
 
    // padding-left: 15px;
    // padding-right: 10px;
    @include tablet {
        
    }

    @include desktop {
        width: 1200px;
        align-items: center;
        justify-content: center;
    }
}




